<div class="container">
    <div class="card row mt-2 alert-info">
        <div class="card-header col-12 alert-dark" style="border-bottom: darkcyan solid;">
            <div class="row">
                <div class="col-9">
                    <h4 class="text-left">{{article.title}} </h4>
                </div>
                <div class="col-3  text-right">
                    <app-user-info *ngIf="author" [author]="author"></app-user-info>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="card-text" [innerHTML]="article.content">
                        {{article.content}}</p>
                    <app-tag-list [article]="article"> </app-tag-list>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted alert-dark" style="border-bottom: darkturquoise groove;">
            <div class="row">
                <div class="col-6">
                    <app-entity-history [createDate]="article.createDate" [updateDate]="article.updateDate">
                    </app-entity-history>
                </div>
                <div class="col-6 text-right">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <!-- <button class="btn btn-outline-primary" (click)="toggleComments()">
                            <i class="fa fa-caret-down"></i> Likes (6)</button>
                        <button class="btn btn-outline-primary ml-2" (click)="toggleComments()">
                            <i class="fa fa-caret-down"></i> Comments (6)</button> -->
                        <button type="button" class="btn btn-outline-success my-2 ml-2  my-sm-0"
                            (click)="onUpdate(updateModal)">Edit</button>
                        <button type="button" class="btn btn-outline-danger my-2 ml-2  my-sm-0"
                            (click)="onDelete(deleteModal)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="container">
                    <div class="col-12">
                        <app-comment-list #appComments [article]="article">
                        </app-comment-list>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <ng-template #updateModal let-modal>
        <form [formGroup]="articleForm">
            <div class="modal-header alert-success">
                <h4 class="modal-title" id="modal-basic-title">Edit Article</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="title" class="col-sm-2 col-form-label text-right">Title :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="title" placeholder="Title"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="content" class="col-sm-2 col-form-label  text-right">Content :</label>
                            <div class="col p-2 ml-3 mr-3" style="background-color: aliceblue;">
                                <div class="row">
                                    <angular-editor class="col-12" [placeholder]="'Content'" formControlName="content"
                                        [config]="editorConfig">
                                    </angular-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 text-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="modal.close('Close click')">Close</button>
                            <button type="button" class="btn btn-success my-2 ml-2  my-sm-0"
                                (click)="update()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #deleteModal let-modal>
        <div class="container mt-2">
            <div class="modal-header alert-danger">
                <h4 class="modal-title" id="modal-basic-title">Delete Article</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card row mt-2 alert-info">
                    <div class="card-header col-12" style="border-bottom: darkcyan solid;">
                        <div class="row">
                            <div class="col-9">
                                <h4 class="text-left">{{article.title}} </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p class="card-text" [innerHTML]="article.content">
                                    {{article.content}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 text-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="modal.close('Close click')">Close</button> <button type="button"
                                class="btn btn-outline-danger ml-2" (click)="delete()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>