<div class="container">
    <div class="card row mt-2 alert-info">
        <div class="card-header col-12" style="border-bottom: darkcyan solid;">
            <div class="row">
                <button class="btn my-2 my-sm-0 col-9">
                    <h4 class="text-left" (click)="toggleCollapse()">{{article.title }} </h4>
                </button>
                <div class="col-3 text-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngIf="!showForm && collapsed " class="btn btn-outline-secondary"
                            (click)="toggleCollapse()">Read more</button>
                        <button *ngIf="!showForm && !collapsed" class="btn btn-outline-secondary"
                            (click)="toggleCollapse()">Collapse</button>
                        <button *ngIf="!showForm" type="button" class="btn btn-outline-primary my-2 ml-2  my-sm-0"
                            (click)="toggleShowForm()">Edit</button>
                        <button *ngIf="!showForm" type="button" class="btn btn-outline-danger my-2 ml-2  my-sm-0"
                            (click)="delete()">Delete</button>
                        <button *ngIf="showForm" type="button" class="btn btn-outline-secondary my-2 ml-2  my-sm-0"
                            (click)="toggleShowForm()">Discard</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <p class="card-text" *ngIf="!showForm && collapsed">{{article.content | slice :0:1000}}</p>
                    <p class="card-text" *ngIf="!showForm && !collapsed">{{article.content}}</p>                   
                    <div class="row" *ngIf="!showForm && !collapsed">
                        <app-comment-list style="width:  100%;" [author]="author" [articleId]="article.id">
                        </app-comment-list>
                    </div>
                    <form [formGroup]="articleForm" *ngIf="showForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label for="title" class="col-sm-2 col-form-label text-right">Title :</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="title"
                                            placeholder="Title" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label for="content" class="col-sm-2 col-form-label  text-right">Content :</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" formControlName="content"
                                            placeholder="Content" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-success my-2 ml-2  my-sm-0"
                                        (click)="update()">Update</button>
                                    <button type="button" class="btn btn-outline-secondary my-2 ml-2  my-sm-0"
                                        (click)="toggleShowForm()">Discard</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <app-user-info *ngIf="author" [author]="author"></app-user-info>
                    <div class="row mt-2" *ngIf="!showForm">
                        <span class="btn btn-outline-success badge badge-pill bagde-dark mt-1 col-12">21 likes</span>
                        <span class="btn btn-outline-success badge badge-pill bagde-dark mt-1  col-12">65 Comments</span>
                        <span class="btn btn-outline-success badge badge-pill bagde-dark mt-1  col-12">72 Views</span>
                    </div>
                    <app-tag-list [articleId]="article.id" [editMode]="showForm"> </app-tag-list>
                </div>
            </div>


        </div>

        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-4">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngIf="!showForm && collapsed " class="btn btn-outline-secondary my-2 ml-2  my-sm-0"
                            (click)="toggleCollapse()">Read more</button>
                        <button *ngIf="!showForm && !collapsed" class="btn btn-outline-secondary my-2 ml-2  my-sm-0"
                            (click)="toggleCollapse()">Collapse</button>
                        <button *ngIf="!showForm" type="button" class="btn btn-outline-primary my-2 ml-2  my-sm-0"
                            (click)="toggleShowForm()">Edit</button>
                        <button *ngIf="!showForm" type="button" class="btn btn-outline-danger my-2 ml-2  my-sm-0"
                            (click)="delete()">Delete</button>
                        <button *ngIf="showForm" type="button" class="btn btn-outline-secondary my-2 ml-2  my-sm-0"
                            (click)="toggleShowForm()">Discard</button>
                    </div>
                </div>
                <div class="col-8">
                    <app-entity-history [createDate]="article.createDate" [updateDate]="article.updateDate">
                    </app-entity-history>
                </div>
            </div>
        </div>
    </div>