<mat-card class="example-card" style="background-color: gainsboro;">
    <mat-card-content style="background-color: gainsboro;">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Articles <button align="end" mat-stroked-button color="primary" (click)="onCreate()">New
                        Article</button>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Filter
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <form class="my-form" [formGroup]="searchForm">
                            <mat-form-field class="example-full-width" align="start">
                                <mat-label>Query</mat-label>
                                <input matInput matInput placeholder="Query Text" formControlName="QueryText"
                                    name="QueryText">
                                <mat-hint>If QueryText stay empty, you will see all authors.</mat-hint>
                                <button mat-button *ngIf="searchForm.get('QueryText').value" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="clearField('QueryText')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <button mat-stroked-button color="primary" (click)="search()">Filter</button>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
        <app-article *ngFor="let article of articleList" [article]="article" [container]="this">
        </app-article>
    </mat-card-content>
</mat-card>