################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/article-assignment/.vs/Article.Assignment/v16
