<mat-card class="author-card mt-4">
    <mat-card-header>
        <mat-card-header>
            <div mat-card-avatar><img class="author-thumbnail"
                    src="https://material.angular.io/assets/img/examples/shiba1.jpg"></div>
            <mat-card-title *ngIf="author.firstName">{{author.firstName + ' ' + author.lastName}}</mat-card-title>
            <mat-card-title *ngIf="!author.firstName">Loading ..</mat-card-title>
        </mat-card-header>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="author-card-content">
        <div class="row mt-1" *ngIf="showForm()" [formGroup]="commentForm">
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Your Comment</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                    formControlName="content" cdkAutosizeMaxRows="4" required></textarea>
                <button mat-button *ngIf="showClearButton('content')" matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearField('content')">
                    <mat-icon matTooltip="Clear" aria-label="Clear field" matTooltipPosition="above">
                        close
                    </mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="row" *ngIf="isReadAction()">
            <div class="container">
                <div class="row">
                    <div class="col-12"> {{comment.content}}
                    </div>
                </div>
            </div>
        </div>
       
    </mat-card-content>
    <mat-card-actions class="example-button-row" *ngIf="isCreateAction()">
        <div class="col-12 text-right">
            <button mat-stroked-button color="primary" (click)="create()">Add Comment</button>
        </div>
    </mat-card-actions>
    <mat-card-actions class="example-button-row" *ngIf="!isCreateAction()">
        <app-entity-history class="col-2" [createDate]="author.createDate" [updateDate]="author.updateDate"
            [createDateCaption]="'Join at'"></app-entity-history>
        <div class="col text-right" *ngIf="!isUpdateAction()">
            <button mat-stroked-button color="primary" (click)="onEdit()">Edit</button>
            <button mat-stroked-button color="warn" (click)="onDelete()">Delete</button>
        </div>
        <div class="col text-right" *ngIf="isUpdateAction()">
            <button mat-stroked-button color="primary" (click)="update()">Save</button>
            <button mat-stroked-button  (click)="onDiscardUpdate()">Discard</button>
        </div>
    </mat-card-actions>
</mat-card>
<!-- 
<ng-template #deleteModal let-modal>
    <div class="modal-header alert-danger">
        <h4 class="modal-title" id="modal-basic-title">Delete Comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body alert alert-info">
        <div class="row ">
            <div class="col-12 alert">
                <div class="row ">
                    <div class="col-3">
                        <app-user-info [author]="author"></app-user-info>
                    </div>
                    <div class="col-9">
                        <p> {{comment.content}} </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12 text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-dark"
                        (click)="modal.close('Close click')">Close</button> <button type="button"
                        class="btn btn-outline-danger ml-2" (click)="delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->