<mat-card class="author-card mt-2">
    <mat-card-header>
        <mat-card-header>
            <div mat-card-avatar><img class="author-thumbnail"
                    src="https://material.angular.io/assets/img/examples/shiba1.jpg"></div>
            <mat-card-title>{{getAuthorFullName()}}</mat-card-title>
        </mat-card-header>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="author-card-content">
        <div class="row mt-1" *ngIf="showForm()" [formGroup]="commentForm">
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Your Comment</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                    formControlName="content" cdkAutosizeMaxRows="4" required></textarea>
                <button mat-button *ngIf="showClearButton('content')" matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearField('content')">
                    <mat-icon matTooltip="Clear" aria-label="Clear field" matTooltipPosition="above">
                        close
                    </mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="row" *ngIf="isReadAction()">
            <div class="container">
                <div class="row">
                    <div class="col-12"> {{comment.content}}
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions class="example-button-row" *ngIf="isCreateAction()">
        <div class="col-12 text-right">
            <button mat-stroked-button color="primary" (click)="create()">Add Comment</button>
        </div>
    </mat-card-actions>
    <div class="row" *ngIf="!isCreateAction()">
        <div class="col-9">
            <app-entity-history class="col-2" [createDate]="article.createDate" [updateDate]="article.updateDate">
            </app-entity-history>
        </div>
        <div class="col-3" align="end">
            <mat-card-actions class="example-button-row" *ngIf="!isCreateAction()">
                <div class="col text-right" *ngIf="!isUpdateAction()">
                    <button mat-stroked-button color="primary" (click)="onEdit()">Edit</button>
                    <button mat-stroked-button color="warn" (click)="onDelete()">Delete</button>
                </div>
                <div class="col text-right" *ngIf="isUpdateAction()">
                    <button mat-stroked-button color="primary" (click)="update()">Save</button>
                    <button mat-stroked-button (click)="onDiscardUpdate()">Discard</button>
                </div>
            </mat-card-actions>
        </div>
    </div>

</mat-card>