<mat-card class="example-card mt-4">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{getFullName()}}</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <!-- <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">{{author.about}}</mat-list-item>
            <mat-list-item role="listitem">Phone:
                <a class="ml-2" href="tel:{{author.phone}}}">{{author.phone}}</a>
            </mat-list-item>
            <mat-list-item role="listitem">Email:
                <a class="ml-2" href="mailto:{{author.email}}}">{{author.email}}
                </a>
            </mat-list-item>
            <mat-list-item role="listitem">Birth:
                <span class="ml-2">{{author.birthDate | date:'MMMM d, y'}}</span>
            </mat-list-item>
        </mat-list>
    </mat-card-content> -->


    <!-- Deneme -->
    <div class="row mt-4">
        <div class="col-3">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" style="width: 100%;">
        </div>
        <div class="col-6">
            <p>{{author.about}}</p>
        </div>
        <div class="col-3">
            <div class="row">
                dfsdf
            </div>
        </div>
    </div>

    <!-- End -->

    <!-- <mat-divider [inset]="true"></mat-divider> -->
    <mat-card-actions class="example-button-row">
        <div class="col text-right">
            <button mat-stroked-button color="primary" (click)="openUpdateDialog()">Edit</button>
            <button mat-stroked-button color="warn" (click)="openDeleteDialog()">Delete</button>
        </div>
    </mat-card-actions>
</mat-card>