/* .example-card {
    max-width: 400px;
  } */

.tp-button-row button, .tp-button-row a {
    margin-right: 8px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.tp-selected-value {
    margin: 15px 0;
 }