<div class="mt-2">
    <app-tag *ngFor="let tag of tags" [tag]="tag" [editMode]="editMode"> </app-tag>
    <div class="row mt-2">
        <div class="col-12 text-right">
            <button *ngIf="!showForm" type="button" class="btn btn-outline-primary" (click)="toggleShowForm()">Add
                Tag</button>
        </div>
        <form class="form-group col-12 mt-2" *ngIf="showForm">
            <div class="row">
                <input class="form-control col-12" type="text" [(ngModel)]="title" name="title" placeholder="Tag"
                    aria-label="Tag" />
                <div class="col-12 text-right">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <button type="button" class="btn btn-outline-success my-2 ml-2  my-sm-0" (click)="addTag()">Add
                            Tag</button>
                        <button type="button" class="btn btn-outline-secondary my-2 ml-2  my-sm-0"
                            (click)="toggleShowForm()">Discard</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>