<div class="mt-2">
    <app-tag *ngFor="let tag of tags" [tag]="tag" [editMode]="editMode"> </app-tag>
    <div class="row" *ngIf="editMode">
        <button type="button" class="btn btn-link   my-2 my-sm-0" (click)="toggleShowTagFrom()">Add Tag</button>
    </div>
    <div class="row">
        <form class="form-group col-12 mt-4" *ngIf="showTagFrom">
            <input class="form-control col-12" type="text" [(ngModel)]="title" name="title" placeholder="Tag"
                aria-label="Title" />
            <div class="col-12">
                <div class="row">
                    <button class="btn btn-outline-primary col-8" (click)="addTag()">Add Tag</button>
                    <button type="button" class="btn btn-link   my-2 my-sm-0 col-4"
                        (click)="toggleShowTagFrom()">close</button>
                </div>
            </div>
        </form>
    </div>
</div>