<mat-card class="example-card" style="background-color: gainsboro;">
    <mat-card-content style="background-color: gainsboro;">
        <mat-card class="example-card">
            <div class="row">
                <div class="col-9">
                    <mat-card-header>
                        <div class=" row">
                            <mat-card-title>Authors
                            </mat-card-title>
                        </div>
                    </mat-card-header>
                </div>
                <div class="col-3" align="end">
                    <button mat-stroked-button color="primary" (click)="onCreate()">New
                        Author</button>
                </div>
            </div>

            <mat-card-content>
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel (opened)="filterPanelOpenState = true"
                        (closed)="filterPanelOpenState = false">
                        <mat-expansion-panel-header style="background-color: lemonchiffon;">
                            <mat-panel-title>
                                <mat-icon class="mr-2">filter_alt</mat-icon>Filter
                            </mat-panel-title>
                            <mat-panel-description>
                                {{!filterPanelOpenState ? 'Expand to filter authors.' : 'Close Filter Panel'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <form class="my-form" [formGroup]="searchForm">
                            <mat-form-field class="example-full-width" align="start">
                                <mat-label>Query</mat-label>
                                <input matInput matInput placeholder="Query Text" formControlName="QueryText"
                                    name="QueryText">
                                <mat-hint>If QueryText stay empty, you will see all authors.</mat-hint>
                                <button mat-button *ngIf="searchForm.get('QueryText').value" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="clearField('QueryText')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <button mat-stroked-button color="primary" (click)="search()">Filter</button>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
        <app-author *ngFor="let author of authorList" [author]="author" [container]="this">
        </app-author>
    </mat-card-content>
</mat-card>