<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="authorForm" *ngIf="!isDeleteAction()">
    <mat-form-field class="col-three" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput name="firstName" formControlName="firstName" required>
        <button mat-button *ngIf="showClearButton('firstName')" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField('firstName')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Middle Name</mat-label>
        <input matInput name="middleName" formControlName="middleName">
        <mat-hint>Middle Name is not required.</mat-hint>
        <button mat-button *ngIf="showClearButton('middleName')" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField('middleName')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput name="lastName" formControlName="lastName" required>
        <button mat-button *ngIf="showClearButton('lastName')" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField('lastName')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="picker" name="birthDate" formControlName="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" required>
        <button mat-button *ngIf="showClearButton('email')" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField('email')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput name="phone" formControlName="phone" required>
        <button mat-button *ngIf="showClearButton('phone')" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField('phone')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="col-one" appearance="fill">
        <mat-label>About</mat-label>
        <textarea rows="3" matInput name="about" formControlName="about" required></textarea>
        <button mat-button *ngIf="showClearButton('about')" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField('about')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-content [formGroup]="authorForm" *ngIf="isDeleteAction()">
    <mat-form-field class="col-three" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput name="firstName" formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Middle Name</mat-label>
        <input matInput name="middleName" formControlName="middleName" required>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput name="lastName" formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="picker" name="birthDate" formControlName="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field class="col-three" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput name="phone" formControlName="phone" required>
    </mat-form-field>

    <mat-form-field class="col-one" appearance="fill">
        <mat-label>About</mat-label>
        <textarea rows="3" matInput name="about" formControlName="about" required></textarea>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button *ngIf="isCreateAction()" class="mat-stroked-button mat-primary" (click)="act()">Create</button>
    <button *ngIf="isUpdateAction()" class="mat-stroked-button mat-primary" (click)="act()">Update</button>
    <button *ngIf="isDeleteAction()" class="mat-stroked-button mat-warn" (click)="act()">Delete</button>
</mat-dialog-actions>